  
    @font-face {
        font-family: "DancingScript";
        src: url("../fonts/DancingScript-Bold.woff") format("woff"), url("../fonts/DancingScript-Bold.woff2") format("woff2");
        font-weight: 700;
        font-display: swap;
    }

    @font-face {
        font-family: "DancingScript";
        src: url("../fonts/DancingScript-SemiBold.woff") format("woff"), url("../fonts/DancingScript-SemiBold.woff2") format("woff2");
        font-weight: 600;
        font-display: swap;
    }

    @font-face {
        font-family: "DancingScript";
        src: url("../fonts/DancingScript-Regular.woff") format("woff"), url("../fonts/DancingScript-Regular.woff2") format("woff2");
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: "DancingScript";
        src: url("../fonts/DancingScript-Medium.woff") format("woff"), url("../fonts/DancingScript-Medium.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
    }

    *{
        margin: 0;
        padding: 0;
    }

    html, body {
        overflow-x: hidden;
    }

    .pozadina{
        background-image: url('../images/tamara1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 650px;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width:250px ;
        padding-left: 20px;
    }


    .cnt{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        overflow: hidden;
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: #bd9094b7;
    } 

    ul{
        padding: 20px;
    }

    a, li{
        font-size: 25px;
        padding: 20px;
        text-decoration: none;
        display: inline;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
    }


    .boja:hover{
        background-color: #8d6367
    }

    .icon{
        width: 23px;
        text-align: center;
    }

    .cont{
        padding: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 400px;
    }

    .button{
        background-color: #8d6367;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
                   box-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #CACEC9,
            -0.2rem 0.1rem 1rem #C99190, 0.2rem 0.1rem 1rem #8b4d71,
            0 -0.5rem 2rem #aa778d, 0 0.5rem 3rem #8d5a70;
    }

    .button-title{
        background-color: #8d6367;
        color: #ffe6ff;
        border: none;
        text-align: center;
        font-size: 70px;
        font-family: DancingScript;
        cursor: pointer;

    }

    .animirano {
        cursor: pointer;
        color: #222;
        font-family:DancingScript;
        font-size: 60px;
        position: absolute;
        display: none;
        text-align: center;
        flex-direction: column;
    }

    .text-top{
        color: grey;
        overflow: hidden;
        animation: type 3s steps(40);
        white-space: nowrap;
    }


    hr{
        height: 1px;
        background-color: black;

    }


    @keyframes type{
        0%{
            width:0ch;
        }
        100%{
            width:100%;
        }
    }

    .text{
        padding-top: 20px;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin: 20px;
    }

    .buttongalery{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .button2{
          box-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #CACEC9,
            -0.2rem 0.1rem 1rem #C99190, 0.2rem 0.1rem 1rem #8b4d71,
            0 -0.5rem 2rem #aa778d, 0 0.5rem 3rem #8d5a70;
        text-decoration: none;
        background-color: #8d6367;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }

    .buttongalery-title{
        font-size: 45px;
        padding: 20px;
        font-family: DancingScript;
        background-color: #8d6367;
        border: none;
        color: #ffe6ff;

    }

    
    .menu-btn{
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease-out;

    }

    .menu-btn.close {
        transform: rotate(180deg);
    }

    .menu-btn.close .btn-linija:nth-child(1) {
        transform: rotate(45deg) translate(8px, 5px);
    }

    .menu-btn.close .btn-linija:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.close .btn-linija:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -7px);
    }
    

    .btn-linija{
        width: 100%;
        height: 3px;
        background-color: #ffe6ff;
    }

    .slike{
        width: 100%;
        justify-content: space-evenly;
        display: none;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .slikediv{
        width: 30%;
        margin: 20px;
    }

    .slika1{
        background-image: url('../images/crtez1.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika2{
        background-image: url('../images/crtez2.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }
    
    .slika3{
        background-image: url('../images/crtez3.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika4{
        background-image: url('../images/slika1.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika5{
        background-image: url('../images/slika2.jpg');
        height: 400px;
        background-size: cover;
        background-position-y: center;
    }

    .slika6{
        background-image: url('../images/slika3.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika7{
        background-image: url('../images/paint1.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika8{
        background-image: url('../images/paint2.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika9{
        background-image: url('../images/paint3.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika10{
        background-image: url('../images/book.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika11{
        background-image: url('../images/krugovi1.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika12{
        background-image: url('../images/book1.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika13{
        background-image: url('../images/crtez4.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika14{
        background-image: url('../images/crtez5.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika15{
        background-image: url('../images/crtez6.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika16{
        background-image: url('../images/mup1.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika17{
        background-image: url('../images/paint4.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika18{
        background-image: url('../images/mup2.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slike2{
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    
    .slikediv2{
        width: 46%;
        margin: 20px;
    }

    .slika21{
        background-image: url('../images/radnik1.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika22{
        background-image: url('../images/radnik2.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika23{
        background-image: url('../images/radnik3.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .slika24{
        background-image: url('../images/radnik4.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
    }



    .footer{
        background-color: #bd9094b7;
        top:0;
        width: 100%;
    }

    .karte1{
        width: 100%;
    }

    .karte{
        padding-left: 20px;
    }

    .card{
        bottom: 0;
        padding-right: 20px;
    }

    .kartice{
        width: 50px;
    }

    .razmak{
        padding: 0px 10px;
    }

    .uliniji{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .logo2{
        width: fit-content;
        bottom: 0;
    }

    .logoimg{
        width: 250px;
        padding-left: 20px;
    }

    /*css za korpu*/


    .proizvodi{
        width: 90%;
        margin: 120px auto;
    }

    .proizvodihed{
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        border-bottom: 2px solid lightslategray;
    }

    .proizvod{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        font-style: italic;
    }

    td{
        padding-bottom: 20px;
    }


    @media only screen and (max-width: 450px) {

        .cnt{
            position: static;
            display: block;
        }

        .menu{
            float: none;
        }

        ul{
            display: grid;
            padding: 0;
        }

        a,li{
            padding:8px;
            font-size: 20px;
            width: 100%;
        }

        .karte{
            display: flex;
        }
  
        .karte1{
            align-items: center;
            justify-content: center;  
        }

        .uliniji{
            align-items: center;
            justify-content: center;
        }

        .logo2{
            padding: 0px;
        }

        .animirano{
            font-size: 40px;
        }

    }

    @media only screen and (max-width: 1250px) {
        .pozadina{
            height: 400px;
        }

        .karte{
            display: flex;
        }
         
        .slikediv{
            width: 100%;
        }

        .slikediv2{
            width: 100%;
        }
    }

    @media only screen and (min-width: 450px) and (max-width:950px) {

        .cnt{
            position: static;
            display: block;
        }

        .menu{
            float: none;
        }

        ul{
            display: grid;
            padding: 0;
        }

        a,li{
            padding:8px;
            font-size: 20px;
            width: 100%;
        }
        
        .cont{
            height: 300px;
        }

        .animirano{
            font-size: 40px;
        }
        
    }

    

    @media only screen and (min-width: 950px) and (max-width:1400px) {

        .cnt{
            position: static;
        }

        ul{
            padding: 15px;
        }

        a,li{
            padding: 15px;
            font-size: 20px;
            width: 100%;
        }

        .icon{
            width: 15px;
        }
    }


    


   
